/* 共通 */

#menu-close.hidden,
#menu-dtl.hidden {
  display: none;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.logo {
  width: 10%;
}

.menu-btn1 {
  margin-left: auto;
}

.menu-btn1 #menu-open {
  cursor: pointer;
}

.menu-btn2 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  pointer-events: none;
}

.menu-btn2 #menu-close {
  cursor: pointer;
}

/* main */
.main-title {
  text-align: center;
}

.main-sub {
  text-align: center;
  margin-top: 50px;
}

.js-fuwa {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}

.js-fuwa.isShow {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* スマホ */
@media screen and (max-width: 479px) {
}

/* タブレット */
@media screen and (max-width: 768px) {
}

/* パソコン */
@media screen and (min-width: 767px) {
}
